version: "3.2"

volumes:
  db-data:

services:
  db:
    image: postgres:latest
    volumes:
      - "db-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
